<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
  <style type="text/css">
    meter {
      -webkit-appearance: none;
    }

      meter::-webkit-meter-bar {
        background: transparent;
      }

      meter::-webkit-meter-suboptimal-value,
      meter::-webkit-meter-optimum-value,
      meter::-webkit-meter-even-less-good-value {
        opacity: 0.3;
        -webkit-transition: 3s linear;
      }
  </style>
  <script type="text/javascript">
    var meterIntervals = {};
  </script>
</head>
<body class="container">
  {{#each peer.remoteDevices}}
  <div class="row">
    <div class="column">
      <img src="{{this.icons.0.url}}" />
    </div>
    <div class="column">
      <strong>{{this.friendlyName}}</strong><br />
      {{this.modelName}}
    </div>
    {{#if this.song}}
    <script type="text/javascript">
        meterIntervals['{{this.UDN}}'] = window.setInterval(function () {
        var position = (Date.now() - {{this.song.timestamp}}) / 1000 + {{this.song.positionInSeconds}};
        if (position >= {{this.song.durationInSeconds}}) {
          window.clearInterval(meterIntervals['{{this.UDN}}']);
          meterIntervals['{{this.UDN}}'] = null;
          window.setTimeout(function () {
            window.location.reload();
          }, 2 * 1000);
        }

        var meter = document.getElementById('{{this.UDN}}-meter');
        meter.value = position;
      }, 1 * 1000);
    </script>
    <div class="column"
         style="text-align: right; position: relative;">
      <meter id="{{this.UDN}}-meter"
             value="{{this.song.positionInSeconds}}"
             max="{{this.song.durationInSeconds}}"
             low="{{this.song.absoluteScrobbleOffsetInSeconds}}"
             optimum="{{this.song.absoluteScrobbleOffsetInSeconds}}"
             style="position: absolute; width: 300px; height: 300px;"></meter>
      <img src="{{this.song.albumArtURI}}"
           style="width: 300px; height: 300px;" />
    </div>
  </div>
  <div class="row">
    <div class="column"
         style="text-align: right;">
      <strong>{{this.song.track}}</strong><br />
      {{this.song.artist}}<br />
      <small>{{this.song.album}}</small>
    </div>
    {{/if}}
  </div>
  <!--
  {{#each this.services}}
  {{#each this.eventQueue._store}}
  <h3>{{this.timestamp}}</h3>
  {{#if this.event}}
  <div class="row">
    <div class="column">
      <pre><code>{{formatXML this.event}}</code></pre>
    </div>
  </div>
  {{/if}}
  {{#if this.change}}
  <div class="row">
    <div class="column">
      <pre><code>{{formatXML this.change}}</code></pre>
    </div>
  </div>
  {{/if}}
  {{#if this.metadata}}
  <div class="row">
    <div class="column">
      <pre><code>{{formatXML this.metadata}}</code></pre>
    </div>
  </div>
  {{/if}}
  {{/each}}
  {{/each}}
  -->
  {{/each}}
</body>
</html>