<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="//milligram.github.io/css/milligram.min.css">
</head>
<body class="container">
  {{#if song}}
  <div class="row">
    <div class="column">
      <h1>Currently playing</h1>
    </div>
  </div>
  <div class="row">
    <div class="column"
         style="text-align: right;">
      <img src="{{song.albumArtURI}}" />
    </div>
  </div>
  <div class="row">
    <div class="column"
         style="text-align: right;">
      <strong>{{song.track}}</strong><br />
      {{song.artist}}<br />
      <small>{{song.album}}</small>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="column">
      <h1>Connected devices</h1>
    </div>
  </div>
  {{#each peer.remoteDevices}}
  <div class="row">
    <div class="column">
      <strong>{{this.friendlyName}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="column">{{this.modelName}}</div>
  </div>
  {{#each this.services}}
  {{#if this.lastMetadata}}
  <div class="row">
    <div class="column">
      <pre><code>{{this.lastMetadata}}</code></pre>
    </div>
  </div>
  {{/if}}
  {{/each}}
  {{/each}}
</body>
</html>