<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="//milligram.github.io/css/milligram.min.css">
</head>
<body style="margin: 10px;">
  {{#if song}}
  <h1>Currently playing</h1>
  <ul>
    {{#each song}}
    <li>
      {{@key}}: {{this}}
    </li>
    {{/each}}
  </ul>
  -->
  {{/if}}
  <h1>Connected Devices</h1>
  <ul>
    {{#each peer.remoteDevices}}
    <li>
      {{this.friendlyName}} ({{this.deviceType}})<br />
      {{this.modelName}} ({{this.UDN}})
      <ul>
        {{#each this.services}}
        <li>
          {{this.serviceType}}
          {{#if this.lastMetadata}}
          <pre><code>{{this.lastMetadata}}</code></pre>
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</body>
</html>