<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css" />
  <style type="text/css">
    meter {
      -webkit-appearance: none;
    }

      meter::-webkit-meter-bar {
        background: transparent;
      }

      meter::-webkit-meter-inner-element {
        opacity: 0.5;
        -webkit-transition: {{this.statusPageMeterUpdateIntervalInSeconds}}s linear;
      }
  </style>
  <script type="text/javascript">
    var meterIntervals = {};
  </script>
</head>
<body class="container"
      style="margin-top: 10px;">
  {{#each peer.remoteDevices}}
  <div class="row">
    <div class="column">
      {{#if song}}
      <script type="text/javascript">
          window.setTimeout(function () {
            var songTimestamp = {{this.song.timestamp}};
            if (!songTimestamp) {
                return;
            }
            var durationInSeconds = {{this.song.durationInSeconds}};
            if (!durationInSeconds) {
                return;
            }

            var updateMeterFn = function () {
                var positionInSeconds = {{this.song.positionInSeconds}};
                var actualPositionInSeconds = (Date.now() - songTimestamp) / 1000 + positionInSeconds;
                if (actualPositionInSeconds >= durationInSeconds) {
                    window.clearInterval(meterIntervals['{{this.UDN}}']);
                    meterIntervals['{{this.UDN}}'] = null;
                    window.setTimeout(function () {
                        window.location.reload();
                    }, {{@root.statusPageRefreshAfterPlayTimeoutInSeconds}} * 1000);
                }
                else {
                    var meter = document.getElementById('{{this.UDN}}-meter');
                    meter.value = actualPositionInSeconds;
                }

                return arguments.callee;
            }();

            meterIntervals['{{this.UDN}}'] = window.setInterval(updateMeterFn, {{@root.statusPageMeterUpdateIntervalInSeconds}} * 1000);
        }, 0);
      </script>
      <div class="float-right"
           style="margin-left: 10px; text-align: right;">
        <meter id="{{this.UDN}}-meter"
               value="{{this.song.positionInSeconds}}"
               max="{{this.song.durationInSeconds}}"
               low="{{this.song.absoluteScrobbleOffsetInSeconds}}"
               optimum="{{this.song.absoluteScrobbleOffsetInSeconds}}"
               style="position: absolute; width: 300px; height: 300px;"></meter>
        <img src="{{this.song.albumArtURI}}"
             style="width: 300px; height: 300px; border: 1px solid #606c76;" /><br />
        <strong>{{this.song.track}}</strong><br />
        {{this.song.artist}}<br />
        <small>{{this.song.album}}</small>
      </div>
      {{/if}}
      <div class="float-left">
        <img src="{{this.icons.0.url}}" /><br />
      </div>
      <strong>{{this.friendlyName}}</strong><br />
      {{this.modelName}}<br/>
      <small>Discovered at {{formatTime this.discoveryTime}}</small>
      <div style="max-height: 350px; overflow: auto">
        {{#each this.services}}
        {{#each-reverse this.eventQueue._store}}
        <strong>{{formatTime this.timestamp}}</strong>
        {{#if this.event}}
        <div class="row">
          <div class="column">
            <pre><code>{{formatXML this.event}}</code></pre>
          </div>
        </div>
        {{/if}}
        {{#if this.change}}
        <div class="row">
          <div class="column">
            <pre><code>{{formatXML this.change}}</code></pre>
          </div>
        </div>
        {{/if}}
        {{#if this.metadata}}
        <div class="row">
          <div class="column">
            <pre><code>{{formatXML this.metadata}}</code></pre>
          </div>
        </div>
        {{/if}}
        {{/each-reverse}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/each}}
</body>
</html>