<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
  {{#if song}}
  <script type="text/javascript">
    var initTimestamp = Date.now();
    var progressInterval = window.setInterval(function () {
      var position = {{trackPositionInSeconds}} + (Date.now() - initTimestamp) / 1000;

      var progress = document.getElementById('progress');
      progress.value = position;

      var trackPosition = document.getElementById('trackPosition');
      trackPosition.textContent = moment.duration(position, 'seconds').format('hh:mm:ss', {
        "forceLength": true,
        "trim": false
      });

      if (position >= {{trackDurationInSeconds}}){
        window.clearInterval(progressInterval);
        window.setTimeout(function () {
          window.location.reload();
        }, 2 * 1000);
      }
    }, 1 * 1000);
    window.setTimeout(function () {
      var trackPosition = document.getElementById('trackPosition');
      trackPosition.textContent = moment.duration({{trackPositionInSeconds}}, 'seconds').format('hh:mm:ss', {
        "forceLength": true,
        "trim": false
      });
      var trackDuration = document.getElementById('trackDuration');
      trackDuration.textContent = moment.duration({{trackDurationInSeconds}}, 'seconds').format('hh:mm:ss', {
        "forceLength": true,
        "trim": false
      });
    }, 0);
  </script>
  <style type="text/css">
      progress::-webkit-progress-value{
        -webkit-transition: 1s linear;
      }
  </style>
  {{/if}}
</head>
<body class="container">
  {{#if song}}
  <div class="row">
    <div class="column">
      <h1>Currently playing</h1>
    </div>
  </div>
  <div class="row">
    <div class="column"
         style="text-align: right;">
      <img src="{{song.albumArtURI}}" />
    </div>
  </div>
  <div class="row">
    <div class="column"
         style="text-align: right;">
      <strong>{{song.track}}</strong><br />
      {{song.artist}}<br />
      <small>{{song.album}}</small>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <progress id="progress"
                value="{{trackPositionInSeconds}}"
                max="{{trackDurationInSeconds}}"
                style="width: 100%;" />
    </div>
  </div>
  <div class="row">
    <div class="column"
         style="text-align: left">
      <span id="trackPosition" />
    </div>
    <div class="column"
         style="text-align: right;">
      <span id="trackDuration" />
    </div>
  </div>
  {{/if}}
  {{#if peer}}
  <div class="row">
    <div class="column">
      <h1>Connected devices</h1>
    </div>
  </div>
  {{#each peer.remoteDevices}}
  <div class="row">
    <div class="column">
      <strong>{{this.friendlyName}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="column">{{this.modelName}}</div>
  </div>
  {{#each this.services}}
  {{#if this.lastMetadata}}
  <div class="row">
    <div class="column">
      <pre><code>{{formatXML this.lastMetadata}}</code></pre>
    </div>
  </div>
  {{/if}}
  {{/each}}
  {{/each}}
  {{/if}}
</body>
</html>